<h2>About Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<div class='left_photo'>
	<div style='width: 100px; height: 185px; margin-right: auto;'>
		<img src='/images/ralph_and_diana.jpg' width='140' class='photo' /><br />
	</div>
	<span style='margin-top: 10px;'>Ralph and Diana Gray</span>
</div>
<p class='aboutus'>
	We launched <span class='ritd_text'>Rollin’ In The Dough Fundraising</span> in the fall of 2006.
	With our children out of the house we decided to combine Ralph’s extensive sales
	experience with Diana’s enthusiasm for working with children and young adults.
	<br /><br />
	Over the  years, our children were involved in everything from youth softball to
	the school choir, so we are all too familiar with fundraising and
	<span class='ritd_text'>Rollin’ In The Dough</span> offers the premier fundraising product.
	<br /><br />
	We are happy to be the exclusive dealer for the Indianapolis area, and we would
	love to hear from you!
</p>
<div class='clear'></div>
<h2>Contact Info&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<table class='contact'>
	<tr><td colspan='2' style='text-align: center;'><b>Ralph or Diana Gray</b></td></tr>
    <tr><td class='contact'><b>Office:</b></td><td class='contact_data'>317-821-1754<br/></td></tr>
    <tr><td class='contact'><b>Diana’s Cell:</b></td><td class='contact_data'>317-850-2170<br/></td></tr>
    <tr><td class='contact'><b>Ralph’s Cell:</b></td><td class='contact_data'>317-439-3353<br/></td></tr>
    <tr><td class='contact'><b>Email:</b></td><td class='contact_data'>
	    <script type="text/javascript" language="javascript">
	        <!--
	        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
	        // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
	        // This code is freeware provided these four comment lines remain intact
	        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
	        {
	            coded = "at88K1K1MQrwtZIQka@bLFI8tL08.1rM"
	            key = "YSGwX43oDMk9FiI6AzQWmZ8vrU0sxLy1Od2VBRCtfjc5gK7ThHPulpeJaNqbEn"
	            shift = coded.length
	            link = ""
	            for (i = 0; i < coded.length; i++) {
	                if (key.indexOf(coded.charAt(i)) == -1) {
	                    ltr = coded.charAt(i)
	                    link += (ltr)
	                }
	                else {
	                    ltr = (key.indexOf(coded.charAt(i)) - shift + key.length) % key.length
	                    link += (key.charAt(ltr))
	                }
	            }
	            document.write("<a href='mailto:" + link + "'>" + link + "</a>")
	        }
	        //-->
	    </script>
	    <noscript>
	        Sorry, you need Javascript on to email me.
	    </noscript></td>
	</tr>
</table>
<p class='contact_text'>
    If you have any questions or would like to sample our Pastry Puffins®, Whiffle Sticks®,
    or Classic Breaks Cookie Dough®, please give us a call!
</p>
<div class='clear'></div>
<br />
<br />
<br />
