<div id="whitebox_m">
	<%= render :partial => 'common/overlap_images' %>
	<br />
	<br />
    <p class='highlight'>
		Welcome to...<br />
		<span>Rollin’ In The Dough Fundraising!</span>
 	</p>
	<p class='middle'>
		We are a full-service, family owned and operated fundraising company specializing in 
		delicious frozen pastries.  If you’re looking for a unique product that cannot be 
		purchased in stores, pre-packaged, sorted, and delivered at your convenience, <br />
		<span class='ritd_text'>Rollin’ In The Dough</span> is the place for you! 
    </p>
	<p class='testimonial'>
		Ralph & Diana Gray are awesome!!! This is our 2nd year selling the product and everyone 
		was happy w/the pastries and the profit. They are very professional, thorough, 
		and go out of their way to make sure all runs smooth.<br />
		<span>-- Geri, The Flip Zone</span>
	</p>
    <br/>
    <br/>
</div>
