<h2>Products&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>

<div style='margin-left: 20px;'>
	<p>Click on any of our products below to learn more!</p>
	<h3>Dutchland Foods</h3>
	<div class='products_list'>
		<p>
			<img src='/images/dutchland.jpg' width='125px' class='product_logo' /><br />
			<%= link_to 'Pastry Puffins&reg;'.html_safe, :action=>:puffins, :controller=>:page %><br /><br />
			<%= link_to 'Whiffle Sticks&reg;'.html_safe, :action=>:whiffles, :controller=>:page %>
		</p>
	</div>
	<div class='clear'></div>
	<h3>Classic Breaks<%=trade%></h3>
	<div class='products_list'>
		<p>
			<img src='/images/classicbreak.jpg' width='125px' class='product_logo' /><br />
			<%= link_to "Cookie Dough", :action=>:cookies, :controller=>:page %>
		</p>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
</div>