<h2>Fundraiser Information&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<div style='margin-left: 20px;'>
	<br />
	<%= link_to 'Dutchland Frozen Foods - Resources for Group Leaders ', 'http://www.dutchlandfrozenfoods.com/resources.html' %><br />
	<h3 style='text-decoration: none;'>Order Forms:</h3>
	<ul class='list'>
		<li>
			<%= link_to 'Tally your Pastry Puffin&reg; Order'.html_safe, '/Tally_Sheet_Puffin_v5.xls' %>
		</li>
		<li>
			<%= link_to 'Tally your Whiffle Sticks&reg; Order'.html_safe, '/Tally_Sheet_Whiffle_v3.xls' %>
		</li>
		<li>
			<%= link_to 'Tally your Classic Breaks&reg; Cookie Dough Order'.html_safe, '/Tally_Sheet_Cookie_Dough_v3.xls' %>
		</li>
	</ul>
	<br />
	<br />
</div>
