<h2>Services&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>

<div style='margin-left: 20px;'>
	<br />
	<div class='special_box'>
		Provide the highest quality product to allow you to maximize your group’s earning potential!
	</div>

	<p class='highlight'>
		Offer a unique product that can’t be purchased in stores or through any other fundraising company!
	</p>

	<h3 style='text-decoration: none;'>Our full service company will:</h3>
	<ul class='list'>
		<li>
			Provide promotional materials free of charge!
		</li>
		<li>
			Hold a fundraising Kick-Off meeting with your group, including FREE samples of the product!!
		</li>
		<li>
			Provide easy and fast online order entry!
		</li>
		<li>
			Pre-package your order!
		</li>
		<li>
			Provide FREE delivery at the most convenient time and location for you!
		</li>
	</ul>

	<p class='highlight'>
		Maximize your profits. We have no minimum order size and you don’t have to order in even case numbers!
	</p>

	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

</div>