<h3>Admin Options</h3>
<ul class='admin_options'>
    <li>
        <%= link_to 'View Fundraisers', fundraisers_path %>
    </li>
    <li>
        <%= link_to 'View Organizations', organizations_path %>
    </li>
    <li>
        <%= link_to 'View ALL Puffin Orders', puffin_orders_path %>
    </li>
</ul>
<br />
<br />
<br />